body{
    background-color: beige;
}

.container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading{
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
}

.parent{
    display: inline;
}

.todo{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.todo-box{
    width: 380px;
    padding: 20px;
    outline: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 30px;
}

.tasks{
    margin-top: 20px;
    padding-left: 0px;
}

.added-task{
    width: 380px;
    border: 1px solid black;
    padding: 20px;
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: rgb(78, 78, 77);
    margin: 5px;
    list-style-type: none; /* Remove bullets */
}

.clicked{
    text-decoration:line-through;
    color: rgb(139, 139, 139);
}

.message{
    width: 380px;
    border: 1px solid rgb(215, 215, 215);
    padding: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: rgb(51, 51, 50);
    /* margin: 5px; */
}

.reset{
    width: 200px;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;  
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: rgb(51, 51, 50);
    border-radius: 10px;
    border: 1px solid rgb(132, 131, 131);
    margin-top: 15px;
    cursor: pointer;
}